<div class="clearfix top-space small"></div>
<div class="row">

  <%= render :partial => 'shared/left_nav' %>

  <div class="panel panel-default col-md-8 text-left">
    <div class="pull-left">
      <h4>Tweets</h4>
    </div>
    <div class="clearfix"></div>
    <hr />
    <ol class="list-unstyled">
      <%= render :partial => 'tweet', :collection => @tweets %>
    </ol>
  </div>
</div>

