<h1><%= image_tag avatar_url(@user) %></h1>
<h1><%= content_tag :strong, @user.name %></h1>
<h2><%= content_tag :small, '@'+@user.username %></h2>

<div class="tweetbox">
    <ul>
        <% @user.twets.each do |twet| %>
            <li><%= twet.content %></li>
        <% end %>
    </ul>
<div>